<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CodeSnips(){</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href='/css/style.css'>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

  </head>
  <body>
    <header class = 'header'>
      <h1>CodeSnips(){</h1>
        <% if(!currentuser){ %>
          <form class='loginBox' action='/sessions' method="POST"/>
          <% if(!valid){ %>
            <h6>Invalid username or password</h6>
            <%}%>
            <input class='loginInput' type="text" name="username" placeholder="username"/>
            <input class='loginInput' type='password' name="password" placeholder="password"/>
            <input class = "loginButton" type='submit' value='Log In'/></br>
            <a id='registerLink' href='/user/new'>Register</a>
          </form>
          <%}else{%>
            <form class = "loginBox" action="/sessions?_method=DELETE" method="POST">
              <div><a class = "userName" href="user/<%=currentuser._id%>">Logged in as <%=currentuser.username%></a>
                <input class="logoutButton" type="submit" value="Logout">
              </div>
            </form>
            <%}%>
          </br>
        </header>
        <section class="searchBar">

          <div class = "blurb">Store and share small blocks of code...</div>
          <form class=".form-group" action="/code/new">
            <input class="newCodeButton" type="submit" value="New CodeSnip"/>
          </form>
          <form class=".form-group" action="/" method="POST">
            <input class = "searchBox" type="text" name="query" />
            <input class="searchButton" type="submit" value="Search"/></br>
            <a class = "resetLink" href="/">Reset Search</a>
          </form>
        </section>
        <section class='snips'>
          <% if(code !== undefined){ %>
            <% for(var i = 0; i < code.length; i++){ %>
              <div class="codeSnip">
                <div class="title">
                  <h4><a class = "titleHead" href="/code/<%=code[i]._id%>"> <%=code[i].title%></a></h4></div>
                  <div class="description"><%=code[i].description%></br></div>

                  <div class="code">
                    <pre class="prettyprint"><%=code[i].code%>        </pre>
                  </br></div>
                  <div class='tags'>
                    <%for(var j=0; j<code[i].tags.length; j++){%>
                      <a class = "singleTag" href='/<%=code[i].tags[j]%>'><%=code[i].tags[j];%></a>
                      <% } %>
                    <%  if(currentuser!==undefined){%>
                      <%if(code[i].userID!==currentuser._id){%>
                      <form class="deleteUserForm .form-group" action="/code/<%=code[i]._id%>/save">
                        <input class="editCodeButton" type="submit" value="Save"/></br>
                      </form>
                      <%}%>
                      <%}%>

                    </div>
                  </div>
                  <% } %>
                  <% } %>
                </section>

                <footer class="footer">
                  <h1>};</h1>
                  <div class='footerContent'>
                    <a class = 'footerElement' href="#">Contact</a>
                    <a class = 'footerElement' href="#">About</a>
                  </div>
                </footer>
              </body>
              </html>
