<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if(currentuser){ %>
    <h1>Welcome <%=currentuser.username%></h1>
    <% } else { %>
      <h1>Welcome</h1>
      <%}%>
    <nav>
      <ul>
        <% if(!currentuser){ %>
        <li>
          <a href="/sessions/new">Log In</a>
        </li>
        <li>
          <a href="/user/new">Register</a>
        </li>
        <% } else{ %>
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout">
            </form>
          </li>
          <li>
            <a href="/code/new">New Code</a>

            <a href="/user/<%=currentuser._id%>"><%=currentuser.username%></a>
            <section>
              <form class=".form-group" action="/search/" method="POST">
              <input class="form-control" type="text" name="query" /><br/>
              <input type="submit" value="Search"/>
            </form>
            </section>
            <section>
                <h4>Code Snips<h4>
                <ul>
                  <% if(code !== null){ %>
                    <% for(var i = 0; i < code.length; i++){ %>
                      <li class="noBullets"><a href="/code/<%=code[i]._id%>"> <%=code[i].title%></a></li>
                    <% } %>
                    <% } %>

                </ul>
            </section>
          </li>
        <%}%>
      </ul>
    </nav>
  </body>
</html>
