<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href='/css/style.css'>
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body>
	<header class='header'>
		<h1 class='title'><%=user.username%>(){ </h1></br>
			<a class = "homeLink" href="/">Home</a>
			<a class = "editLink" href="/user/<%=user._id%>/edit">Edit User Info</a>
		</header>
		<main>
			<section class="searchBar">
				<form class="newCodeForm .form-group" action="/code/new">
					<input class="newCodeButton" type="submit" value="New CodeSnip"/></br>
				</form>
				<h4><%=user.username%>'s Code Snips</h4>
			</section>
			<section class='snips'>
				<% if(user.codes !== undefined){ %>
					<% for(var i = 0; i < user.codes.length; i++){ %>
						<div class="codeSnip">
							<h4 class="codeTitle"><a class = "titleHead" href="/code/<%=user.codes[i]._id%>"> <%=user.codes[i].title%></a></h4><%if(user.codes[i].public==true){%>
								<h6 class="publicTag">&ltpublic&gt</h6>
								<%}else{%>
									<h6 class="publicTag">&ltprivate&gt</h6>
								<%}%>
								<div class="description"><%=user.codes[i].description%></br></div>
								<div class="code"><pre class="prettyprint"><%=user.codes[i].code%></pre></br></div>
								<div class='tags'>
									<div class="tagNames">
										<%for(var j=0; j<user.codes[i].tags.length; j++){%>
											<%=user.codes[i].tags[j];%>
											<% } %>
										</div>
										<form class="deleteUserForm .form-group" action="/code/<%=user.codes[i]._id%>/edit">
											<input class="editCodeButton" type="submit" value="Edit"/></br>
										</form>
										<form class="deleteUserForm .form-group" action="/code/<%=user.codes[i]._id%>?_method=DELETE" method="post">
											<input class="editCodeButton" type="submit" value="Delete"/>
										</form>
									</div>
								</div>
								<% } %>
								<% } %>
								<% if(user.savedCodes !== undefined){ %>
									<% for(var i = 0; i < user.savedCodes.length; i++){ %>
										<div class="codeSnip">
											<h4 class="codeTitle"><a class = "titleHead" href="/code/<%=user.savedCodes[i]._id%>"> <%=user.savedCodes[i].title%></a></h4><h6 class="publicTag">&ltsaved&gt</h6>
												<div class="description"><%=user.savedCodes[i].description%></br></div>
												<div class="code"><pre class="prettyprint"><%=user.savedCodes[i].code%></pre></br></div>
												<div class='tags'>
													<div class="tagNames">
														<%for(var j=0; j<user.savedCodes[i].tags.length; j++){%>
															<%=user.savedCodes[i].tags[j];%>
															<% } %>
														</div>
														<form class="deleteUserForm .form-group" action="/code/<%=user.savedCodes[i]._id%>/remove?_method=DELETE" method="post">
															<input class="editCodeButton" type="submit" value="Remove"/>
														</form>
													</div>
												</div>
												<% } %>
												<% } %>
							</main>
							<footer class="footer">
								<h1>};</h1>
								<div class='footerContent'>
									<a class = 'footerElement' href="#">Contact</a>
									<a class = 'footerElement' href="#">About</a>
								</div>
							</footer>
						</body>
						</html>
