<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href='/css/style.css'>

	</head>
	<body>
		<header class='header'>
			<h1 class='title'><%=code.title%></h1>
			<nav>
				<ul class = 'links'>
					<li class = 'link'>
						<a href="/">Home</a>
					</li>
					<li class ='link'>
						<a href="/code">codes Index</a>
					</li>
				</ul>
			</nav>
		</header></br>
		<main>

			<section class = 'code'>
				<img class = 'image' src="<%=code.img%>">
			</section>
		<div class='by'>
			<small>by: <a href="/user/<%=code.userID%>">Creator</a></small>
		</div>
			<section class='description'>
				Title: <%=code.title%>
			</section>
			<section class='description'>
				Code: <%=code.code%>
			</section>
			<section class='description'>
				Description: <%=code.description%>
			</section>
			<section class='description'>
				Tags: <%for(var i=0; i<code.tags.length; i++){%>
					<%=code.tags[i];%>
				<% } %>
			</section>			<section class='description'>
				Public: <%=code.public%>
			</section>
		</main>
		<%if(user._id==code.userID){ %>
    <section>
    <form action="/code/<%=code._id%>?_method=DELETE" method="post">
        <input type="submit" value="Delete code"/>
    </form>
    <section>
    <a href="/code/<%=code._id%>/edit">Edit</a>
	</section>
	<% } %>

</section>
	</body>
</html>
